
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.left,.right{
  position: relative;
  top:0px;
  left:0px;
}

.about-parent{
  display: flex;
  float: left;
  top:0px;
  left:0px;
}
.about-left{
  float: left;
  top:0px;
  left:0px;
}
.about-right{
  top: 30px;
  float: right;
}
.about-banner{
  text-align: center;
}
.about-background{
  background: url('./Clinic.jpg') center center/cover no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container{
  background-color: white;
  height: 80%;
  width: 80%;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-container{
  background-color: white;
  height: 80%;
  width: 80%;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-background{
  background: url('./Clinic2.jpg') center center/cover no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 980px) {
  .services-background{
    height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .services-container{
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 1%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-parent{
    display: flex;
    flex-direction: column;
  }
}