:root {
    --primary: #BD2031
}

.button {
    padding: 20px 40px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.button--primary{
    /* background-color: #ffcccb; */
    background-color: lightblue;
    color: #242424;
    border: 1px solid lightblue;
}

.button--outline {
    background-color: transparent;
    color: #242424;
    padding: 8px 20px;
    border: 1px solid lightblue;
    transition: all 0.4s ease-out;
}

.button--medium{
    padding: 8px 20px;
    font-size: 20px;
}

.button--large{
    padding: 12px 26px;
    font-size: 20px;
}

.button--medium:hover, .button--large:hover{
    background: rgba(20, 106, 163, 0.801);
    color: #242424;
    transition: all 0.4s ease-out;
    cursor: pointer;
}