.card{
    width: 300px;
    height: auto;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in-out;
    border-radius: 1%;
    margin: 50px;
    background-color: #ffcccb;
}
.card:hover{
    box-shadow: 0px 0px 15px 0px;
}
.image_container img{
    width: 100%;
    text-align: center;
    display: flex;
}
.card_content{
    margin: 1rem;
    margin-top: 0.5rem;
}
h3,p{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 1.6rem;
}
.card_title{
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 980px) {
    .card{
        flex-direction: column;
        max-width: 100%;
    }
  }