.wrapper img{
    width: 100%;
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    max-height: 900px;
    display: inline-block;
  }
  .wrapper {
    min-height: 100vh;
    height: auto;
    overflow: hidden;
  }
.title{
  font-size: 60px;
  font-family: serif;
  color:rgba(9, 69, 109, 0.801) ;
}
.background {
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}
.background .bg-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  object-fit: cover;
  object-position: right center;
}
  .photo_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-size: 70px;
    text-shadow: 1px 1px 10px rgba(32, 32, 32, 0.5), 1px 1px 5px #202020;
    text-transform: capitalize;

  }
  hr{
    width: 70%;
    height: 6px;
    background-color: grey;
  
  }
  .sub_title{
    padding-left: 10px;
    /* text-decoration-line: underline; */
    text-align: center;
    font-size: 30px;
  }
  .patients img{
    width: 15%; 
    margin-left: 25%;   
  }
  .learn_button{
    text-align: center;
    /* border: 3px solid black; */
    width: 250px;
    padding: 1.2em;
    display: flex;
    justify-content: center;
    margin:auto auto;
    border-radius: 10px;
    background: lightblue;
    color: white;
    transition-duration: 1s;
}
.learn_button:hover{
  transform: translateY(-5px);
  box-shadow: 1px 2px 20px 0px #b0b0b08a;

}
.learn_button h3{
  text-transform: uppercase;
  color: #3c3c3c; 
  font-size: 18px
}
  
  
  @media screen and (max-width: 980px) {
  
  .photo_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-size: 55px;
    width: 100vw;
  }

  .patients img{
    width: 25%; 
    margin-left: 16%;   
  }
  

  }